$background: radial-gradient(circle at 50% 50%, #6d4a93 0%, #523a78 25%, #382a5d 50%, #201a42 75%, #0e092a 100%);

$primary-color: #221c33;
$secondary-color: #48346d;
$third-color: #110c2e;
$primary-font-color: #fff;

