@import '../../../../../styles/variables.scss';

.container-users-search {
    color: $primary-font-color;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;

    .users-search-input {
        width: 70%;
        padding: 0.5rem;
        border-radius: 25px;
        border: none;
        margin: 25px auto;
        outline-color: $secondary-color;
    }

    .app-user-list {
        width: 100%;
    }
}