@import '../../../styles/variables.scss';

.container-user-details {
    color: $primary-font-color;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;

    .user-details-table {
        width: 100%;
        overflow: hidden;
        margin: 10px 0;
        border-radius: 25px;
        text-align: center;

        .user-img {
            width: 60px;
            border-radius: 30px;
            vertical-align: middle;
            margin: 2.5px auto;
        }

        thead {
            background: $primary-color;

            th {
                padding: 10px;
            }
        }

        .user-table-tr {
            background: $primary-color;

            a:hover {
                opacity: .5;
                text-decoration: underline;
            }

            .user-table-td {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .btn-return {
        width: 100px;
        height: 30px;
        border-radius: 25px;
        border: 2px solid $primary-font-color;
        background: $secondary-color;
        color: $primary-font-color;
        cursor: pointer;
        font-weight: 700;
    }

    .btn-return:hover {
        border-color: $secondary-color;
        background: $primary-font-color;
        color: $secondary-color;
    }
}