<div class="container-users-search ">
    <h1>Github User Search</h1>
    <input type="search" placeholder="User Name..." class="users-search-input" [formControl]="searchUserName">
    <table class="users-search-table">
        <thead *ngIf="githubUsers.items.length">
            <tr>
                <th>Image</th>
                <th>User Name</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr class="user-table-tr" *ngFor="let user of githubUsers.items" (click)="viewUserDetails(user)">
                <td><img class="user-img" [src]="user.avatar_url" alt=""></td>
                <td>{{ user.login }}</td>
                <td>{{ user.site_admin }}</td>
            </tr>
        </tbody>
    </table>
</div>